{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block style %}
<style media="screen">
  body{
    background-image: url({% static 'images/book3.jpg'%});
    background-size: cover;

  }
  input{
    margin:10px 0px 10px 0px;
  }
</style>
{% endblock %}
{% block Body %}
<br><br><br><br>
<br><br><br>
<div class="col-lg-6 col-md-8 login-box jumbotron" style="padding-top:20px;padding-bottom:20px;
background-image: url({% static 'images/back3.jpg'%});background-size: cover;margin-left:25%;">
    <div class="col-lg-12 login-form">
        <div class="col-lg-12 login-form">
  <form method="post">

    {% csrf_token %}
    <div style='wigth:45%;float:left;padding:10px 10px 10px 20px;'>
      <label for="">Store </label>
    <input type="text" name="Storeuser" class="form-control" value="{{Storeuser}}" readonly>
    <label for="">Author</label>
    <input type="text" class="form-control" value="{{Author}}" name='Author' readonly>
    </div>
    <div  style='wigth:45%;float:left;padding:10px 10px 10px 10px;'>
      <label for="">Book</label>
    <input type="text" class="form-control" value="{{Book}}" name='Book' readonly>
    <label for="">Quantity</label>
    <input type="number" class="form-control" value="{{Quantity}}" name="Quantity" readonly>

    </div>
    <div class="col-lg-12">

      <button type="submit" class="btn btn-danger" style="width:100px; height:50px;
      border-radius: 15px;font-family: 'Baskerville Old Face';color:azure;font-size:20px;">
        Get It
      </button></center>
    </div>

  </form>
</div>
{% endblock %}
